.navbar {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    width: 50px;
    height: 40px;
    margin-top: 10px;
    padding-left: 0px;
    position: fixed;
    
  }
  